html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: var(--action-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0 1rem;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border-radius: 16px;
  height: 2rem;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}

/* color palette */
:root {
  --light-background: #f2eee2;
  --light-color: #1d3040;

  --dark-background: #1d3040;
  --dark-color: #f2eee2;

  --accent-color: #ff3e00;
  --action-color: #0064c8;
}
